<h1>New <%= @model_name.titleize %> <%= link_to 'Back to list', { :action => 'index' }, :class => 'smaller' %></h1>

<% form_for(@model_sym, @model, :url => { :action => 'create' }) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'naked_model/form', :locals => { :f => f, :mod => @model, :model_name => @model_sym } %>
<% end %>